<p id="notice"><%= notice %></p>

<h2>Your Feed</h2>
<%= button_to 'New Post', new_post_path, method: :get %>

<% @posts.each do |post| %>
  <ul>
    <div class="post">
      <div class="image">
        <% user = User.find(post.user_id) %>
        <%= user.name %>
        <li><%= image_tag(post.image, class:'post-image') %></li><br>
      </div>
      <li><%= post.caption %></li>
      <li><%= post.created_at.strftime('%I:%M %p, %A, %b %d') %></li>
      <li><%= button_to 'Edit', edit_post_path(post), method: :get %></li>
      <li><%= button_to 'Delete', post_path(post), method: :delete %></li>
    </div>
  </ul>
<% end %>
