<p id="notice"><%= notice %></p>

<h2>Your Feed</h2>
<%= button_to 'New Post', new_post_path, method: :get %>

<% @posts.each do |post| %>
  <ul>
    <li><%= image_tag(post.image, class:'post-image') %></li>
    <li><%= post.caption %></li>
    <li><%= button_to 'Edit', edit_post_path(post), method: :get %></li>
    <li><%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, method: :get %></li>
  </ul>
<% end %>
