<p id="notice"><%= notice %></p>

<%= button_to 'New Post', new_post_path, method: :get %>
<div class="all-posts">
  <% @posts.each do |post| %>
    <ul>
      <div class="post">
        <div class="image">
          <% user = User.find(post.user_id) %>
          <%= gravatar_for user %>
          <%= user.name %>
          <li><%= image_tag(post.image, class:'post-image') %></li><br>
        </div>
        <div class="info">
          <%= link_to 'â¤ï¸', post_like_url(post), method: :put %>
          <%= link_to 'ðŸ’¬', new_post_comment_path(post), method: :get %>
          <%= link_to 'âœï¸', edit_post_path(post), method: :get %>
          <%= link_to 'ðŸ—‘ï¸', post_path(post), method: :delete %>
          <br><br>
          <li><%= post.caption %></li>
          <li><%= post.created_at.strftime('%I:%M %p, %A, %b %d') %></li>
          <li><%= pluralize(post.votes_for.size, "like") %></li>
          <% post.comments.each do |comment| %>
            <li class="caption center-block"><%= comment.comment %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  </div>
