<div>
  <ul>
    <li><%= image_tag(@post.image, class:"post-image") %></li>
    <%= link_to 'â¤ï¸', post_like_url(@post), method: :put %>
    <%= link_to 'ðŸ’¬', new_post_comment_path(@post), method: :get %>
    <%= link_to 'âœï¸', edit_post_path(@post), method: :get %>
    <%= link_to 'ðŸ—‘ï¸', post_path(@post), method: :delete %>
    <li><%= pluralize(@post.votes_for.size, "like") %></li>
    <li><%= @post.caption %></li>
    <li><%= @post.created_at.strftime('%I:%M %p, %A, %b %d') %></li>
    <% comments = Comment.where(commentable_id: @post.id) %>
    <% comments.each do |comment| %>
    <% user = User.find(comment.user_id) %>
      <li><strong><%= user.name %></strong> <%= comment.comment %></li>
    <% end %>
  </ul>
</div>
<br>
